In [ ]:
import pandas as pd

In [ ]:
l1 = [123,345,456,332,234]
a = pd.Series(data=l1)
a

0    123
1    345
2    456
3    332
4    234
dtype: int64

In [ ]:
labels =['a','b','c','d','e']
b = pd.Series(data=l1,index = labels)
b

a    123
b    345
c    456
d    332
e    234
dtype: int64

In [ ]:
d1 = {'a':1234,'b':3456,'c':1233,'d':8945}
d1

{'a': 1234, 'b': 3456, 'c': 1233, 'd': 8945}

In [ ]:
d = pd.Series(data=d1)
d

a    1234
b    3456
c    1233
d    8945
dtype: int64

In [ ]:
type(d)

pandas.core.series.Series

DataFrame

In [ ]:
c1 = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]
c1

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [ ]:
pd.DataFrame(data=c1)

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [ ]:
cols = ['w','x','y','Z']
c = pd.DataFrame(data=c1,columns=cols)
c

   w   x   y   Z
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [ ]:
c.w

0    1
1    5
2    9
Name: w, dtype: int64

In [ ]:
c['w']

0    1
1    5
2    9
Name: w, dtype: int64

In [ ]:
c[['w','y']]

   w   y
0  1   3
1  5   7
2  9  11

In [ ]:
c.head() # first 5 rows of the data frame

   w   x   y   Z
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [ ]:
c.tail() # last 5 rows of data frame

   w   x   y   Z
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [ ]:
c.describe()

         w     x     y     Z
count  3.0   3.0   3.0   3.0
mean   5.0   6.0   7.0   8.0
std    4.0   4.0   4.0   4.0
min    1.0   2.0   3.0   4.0
25%    3.0   4.0   5.0   6.0
50%    5.0   6.0   7.0   8.0
75%    7.0   8.0   9.0  10.0
max    9.0  10.0  11.0  12.0

In [ ]:
c = pd.DataFrame(data=c1,columns=cols, index=['g','h','k'])
c

   w   x   y   Z
g  1   2   3   4
h  5   6   7   8
k  9  10  11  12

In [ ]:
c.iloc[1]

w    5
x    6
y    7
Z    8
Name: h, dtype: int64

In [ ]:
c.iloc[0:2, 1:3]  # slicing rows, columns

   x  y
g  2  3
h  6  7

In [ ]:
c.iloc[:,1:3]

    x   y
g   2   3
h   6   7
k  10  11

In [ ]:
c.loc['g']

w    1
x    2
y    3
Z    4
Name: g, dtype: int64

In [ ]:
c['m'] = [123456,355678,3566675]
c

   w   x   y   Z        m
g  1   2   3   4   123456
h  5   6   7   8   355678
k  9  10  11  12  3566675

In [ ]:
c.loc['l'] = [12,34,53,23,3445235]
c

    w   x   y   Z        m
g   1   2   3   4   123456
h   5   6   7   8   355678
k   9  10  11  12  3566675
l  12  34  53  23  3445235

In [ ]:
c.iloc[2] = [234566,455656,456,2,878]
c

        w       x    y   Z        m
g       1       2    3   4   123456
h       5       6    7   8   355678
k  234566  455656  456   2      878
l      12      34   53  23  3445235

In [ ]:
c.drop('y',axis=1)
c

        w       x    y   Z        m
g       1       2    3   4   123456
h       5       6    7   8   355678
k  234566  455656  456   2      878
l      12      34   53  23  3445235

In [ ]:
c.drop('y',axis=1,inplace=True)
c

        w       x   Z        m
g       1       2   4   123456
h       5       6   8   355678
k  234566  455656   2      878
l      12      34  23  3445235

In [ ]:
df = pd.read_csv("")